* {
    margin: 0 auto;
}



.recuadro1 
{
    margin-top: 2vh;
    text-align: center;
    background-color: black;
    height: 10vh;
    width: 20vw;
    color:white;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 2s, color 2s, border 2s;
}

.recuadro1:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    border:2px solid black;
}

.container {
    color:white;
    width: 200px;
    height: 260px;
    position: relative;
    perspective: 800px;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

#card figure {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

#card .front {
    background: red;
}

#card .back {
    background: blue;
    transform: rotateY( 180deg );
}

#card:hover {
    transform: rotateY( 180deg );
}
   